div {
  float: left;
  /* utilisation de la fonction calc */
  width: calc(25% - 40px);
  margin: 0 20px;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 1.5em;
}
div:nth-child(3) {
  background:#FFCCCC url(../images/chien.webp) 0 0; 
  height: 100vh;
}
img {
  /* La largeur de l'image n'exèdera pas la largeur de son contenant */
  max-width: 100%;
  display: block;
}